@charset "UTF-8";
@font-face {
    font-family: 'brasilero';
    src: url('fonts/Brasilero2018Free.otf') format('opentype');
}
@font-face {
    font-family: 'Passion One';
    src: url('fonts/PassionOne-Bold.ttf') format('truetype');
}
*{
    margin:0px;
    padding: 0px;
}

:root{
    --corfonte: #261201;
    --corfundo: #f2c48d;
    --marrom:   #731702;
    --bege:     #f28f79;
    --vermelho: #bf1f1f;

    --texto: 'brasilero', sans-serif;
    --titulo: 'Passion One', cursive;
}
html, body{
    min-height: 100vh;
    background-color: var(--corfundo);
}
a{
    color: var(--vermelho);
    text-decoration: none;
    font-weight: bolder;
    
}
a:hover{
    text-decoration: underline;
}
header{
    font-variant: small-caps;
    background-color: var(--corfonte);
    min-height: 200px;
    padding-top: 55px;
}
header h1{
    font-family: var(--titulo);
    color: var(--vermelho);
    text-align: center;
    font-size: 10vw;
}
header p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--corfundo);
    text-align: center;
    font-size: 1.2em;
}
section{
    font-family: var(--texto);
    color: var(--corfonte);
    font-size: 3.5vw;
    line-height: 2em;
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: var(--corfundo);
}
section.imagem{
    background-color: var(--marrom);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.493);
}

section.imagem > p {
    display: inline-block;
    background-color: #2612019a;
    color: var(--corfundo);
    
}
section#img01{
    background-image: url('imagens/cordel.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section#img02{
    background-image: url('imagens/literatura-de-cordel.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    text-align: center;
    color: var(--corfundo);
    background-color: var(--corfonte);
}